{% extends 'Seller/header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        span.required {
            color: red;
        }
    </style>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="text-center mt-5">Add Work</h1>
        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="table table-bordered table-striped mt-3">
                <tr>
                    <td>WorkType <span class="required">*</span></td>
                    <td>
                        <select class="form-control" name="select_work" id="sel_work" required>
                            <option value="">--select--</option>
                            {% for i in worktypedata  %}
                            <option value="{{i.id}}" >{{i.worktype}}</option>
                            {% endfor %}    
                        </select>
                    </td>   
                </tr>
                <tr>
                    <td>Name<span class="required">*</span></td>
                    <td><input type="text" class="form-control" name="txt_name" id="" required autocomplete="off"></td>
                </tr>
                <tr>
                    <td>Rate<span class="required">*</span></td>
                    <td><input type="text" class="form-control" name="txt_rate" id="" required autocomplete="off"></td>
                </tr>
                <tr>
                    <td>Details<span class="required">*</span></td>
                    <td><textarea class="form-control" name="txt_det" id="" cols="30" rows="10" required></textarea></td>
                </tr>
                <tr>
                    <td>Image<span class="required">*</span></td>
                    <td><input type="file" class="form-control-file" name="txt_pic" id="" required></td>
                </tr>
                <tr>
                    <td>Videos<span class="required">*</span></td>
                    <td><input type="file" class="form-control-file" name="txt_vid" id="" required></td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input type="submit" class="btn btn-primary" name="" id="" value="Save">
                        <input type="reset" class="btn btn-secondary" name=""  id="" value="Cancel">
                    </td>  
                </tr>
            </table>
        </form>

        <table class="table table-bordered table-striped mt-3">
            <thead class="thead-dark">
                <tr>
                    <th>SI.no</th>
                    <th>Name</th>
                    <th>Rate</th>
                    <th>Details</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for i in workdata %}
                <tr>
                    <td>{{forloop.counter}}</td> 
                    <td>{{i.name}}</td>
                    <td>{{i.rate}}</td>
                    <td>{{i.details}}</td>
                    <td>
                        <a href="{% url 'Seller:deletework' i.id %}" class="btn btn-danger">Delete</a>
                        <a href="{% url 'Seller:WorkGallery' i.id %}" class="btn btn-primary">WorkGallery</a> 
                        <a href="{% url 'Seller:AddMaterial' i.id %}" class="btn btn-success">AddMaterial</a> 
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
{% endblock content %}