<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        span.required {
            color: red;
        }
    </style>
</head>
<body>
    <form method="post" action="">
        {% csrf_token %}
        <table border="2" align="center" cellpadding="10">
            <tr>
                <td>Title<span class="required">*</span></td>
                <td><input type="text" name="txt_title" id=""></td>
            </tr>
            <tr>
                <td>Content<span class="required">*</span></td>
                <td><input type="text" name="txt_content" id=""></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" name="" id="" value="Save">
                <input type="reset" name=""  id="" value="Cancel"></td>  
            </tr>
        </table>
    </form>
    <br><br><br>
        <table align="center" cellpadding="10" border="2">
        <tr>
            <td>Sl.no</td>
            <td>Title</td>
            <td>Content</td>
            <td>Action</td>
            
        </tr>
        
        
        {% for i in compdata %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ i.title }}</td>
            <td>{{ i.content }}</td>
            <td><a href="{% url 'Seller:delcomplaint' i.id %}"> Delete</a></td>
        </tr>
            {% endfor %}
        </table> 
</body>
</html>