{% extends 'Seller/header.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="tab">
    <form method="post">
        <table align="center" border="1" cellpadding="10">
            <tr>
                <th>Sl.No</th>
                <th>Product</th>
                <th>Details</th>
                <th>Rate</th>
                <th>Photo</th>
                <th>User</th>
                <th>Contact Info</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
            {% for i in data %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.works.name}}</td>
                <td>{{i.works.details}}</td>
                <td>{{i.works.rate}}</td>
                <td><img src="{{i.works.image.url}}" alt="" width="150" height="150"></td>
                <td>{{i.booking.user.name}}</td>
                <td>{{i.booking.user.contact}}</td>
                <td>{{i.booking.user.email}}</td>

                
                <td>
                    {% if i.booking.status == 0 and i.cstatus == 0 %}
                    <p>Order is not completed</p>
                    {% elif i.booking.status == 1 and i.cstatus == 0 %}
                    <p>
                    <a href="{% url 'Seller:acceptwork' i.id %}">Order Confirm</a> | <a href="{% url 'Seller:rejectwork' i.id %}">Order Rejected</a>
                   | <a href="{% url 'Seller:Chat-user' i.id %}">Chat Now</a>  
                </p>
                {% elif i.cstatus == 2 and i.cstatus == 1 %}
                <p>Order Cancelled</p>
                {% elif i.cstatus == 3  %}
                <p>Order Confirmed | <a href="{% url 'Seller:Chat-user' i.id %}">Chat Now</a> | <a href="{% url 'Seller:itempacked' i.id %}">Item Packed</a><!-- link to item packed and update status to 5 -->  </p>
                {% elif i.cstatus == 4  %}
                <p>Order Rejected</p> 
                {% elif i.cstatus == 5 %}
                <p>Order Packed | <a href="{% url 'Seller:Chat-user' i.id %}">Chat Now</a>| <a href="{% url 'Seller:itemshipped' i.id %}">Item Shipped</a><!-- link to item shipped and update status to 6 --> </p>
                {% elif i.cstatus == 6 %}
                <p>Order Shipped | <a href="{% url 'Seller:Chat-user' i.id %}">Chat Now</a>| <a href="{% url 'Seller:itemdispatched' i.id %}">Item Dispatched</a><!-- link to item  Dispacatched  and update status to 7 --> </p>
                {% elif i.cstatus == 7 %}
                <p>Hands on Delvery Agent | <a href="{% url 'Seller:Chat-user' i.id %}">Chat Now</a> | <a href="{% url 'Seller:delivered' i.id %}">Item Delivered</a><!-- link to item Delivered and update status to 8 --> </p>
                {% elif i.cstatus == 8 %}
                <p>Order Delivered | <a href="{% url 'Seller:Chat-user' i.id %}">Chat Now</a></p>
                {% elif  i.cstatus == 9 %}
                <p>Product Returned |<a href="{% url 'Seller:wviewreason' i.id %}">View Reason</a></p>
                {% elif i.cstatus == 10 %}
                <p>Return Verified|<a href="{% url 'Seller:Chat-user' i.id %}">Chat Now</a> </p>
                {% else %}
                <p>Order Cancelled |<a href="{% url 'Seller:Chat-user' i.id %}">Chat Now</a>  </p>
                {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </form>
    </div>
</body>
</html>
{% endblock content %}