{% extends 'Seller/header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h1>User Booking</h1></center>
    <form action="" method="post" id="" enctype="multipart/form-data">
        {%csrf_token %}
            <table align="center" border="1" cellpadding="10">
                <tr>
                    <td>Sl.no</td>
                    <td>Work</td>
                    <td>Image</td>
                    <td>Rate</td>
                    <td>Quantity</td>
                    <td>Name of order</td>
                    <td>Address</td>
                    <td>Action</td>
                </tr>
                {% for i in udata %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.work}}</td>
                    <td>{{i.image}}</td>
                    <td>{{i.rate}}</td>
                    <td>{{i.quantity}}</td>
                    <td>{{i.nameoforder}}</td>
                    <td>{{i.address}}</td>
                </tr>
                {% endfor %}
            </table>
    </form>
</body>
</html>
{% endblock content %}
