{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Delivery Boy Traveling GIF</title>
  <style>
    /* Center the GIF on the page */
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }

    /* Set the size of the GIF */
    #delivery-boy-gif {
      width: 800px; /* Adjust the width as needed */
      height: auto;
    }
  </style>
</head>
<body onload="Redirect()">
    <center><h2>{{mess}}</h2></center>
  <img id="delivery-boy-gif" src="{% static  'delivery.gif' %}" alt="Delivery Boy Traveling GIF"
  width="800px" height="800px">
</body>
<script>
    function Redirect()
    {
        window.setTimeout(function() {
        window.location = '../bill/';
      }, 5000);
    }
    </script>
</html>

