{% extends 'Admin/header.html'%}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="">
        {% csrf_token %}
        <table align="center" cellpadding="10" border="2">
            <tr>
                <td>Title</td>
                <td>Content</td>
                <td>Action</td>
            </tr>
            {% for i in compdata %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ i.title }}</td>
                <td>{{ i.content }}</td>
            </tr>
                {% endfor %}
            </table> 
    </form>
</body>
</html>
{% endblock content %}